<h1>Comentarios</h1>

<div *ngFor="let comentario of comentarios | async">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h5>{{ comentario.name }}</h5>
      </div>
      <div class="card-text">
        {{ comentario.email }}
        <h4>{{ comentario.body }}</h4>
      </div>
    </div>
  </div>

  <br>

</div>

<br>

<h1>Publicaciones</h1>
<br>
    <div *ngFor="let data of mensajes | async">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>{{ data.title }}</h5>
                </div>
                <div class="card-text">
                    {{ data.body }}
                </div>
            </div>
        </div>

        <br>

    </div>
